@model ERPInventoryPurchesSystems.Models.Master.Department
@{
    ViewData["Title"] = "Department Details";
}
<h2>Department Details</h2>
<dl class="row">
    <dt class="col-sm-4">Code</dt>
    <dd class="col-sm-8">@Model.DepartmentCode</dd>
    <dt class="col-sm-4">Name</dt>
    <dd class="col-sm-8">@Model.DepartmentName</dd>
    <dt class="col-sm-4">Type</dt>
    <dd class="col-sm-8">@Model.DepartmentType</dd>
    <dt class="col-sm-4">Location</dt>
    <dd class="col-sm-8">@Model.Location</dd>
    <dt class="col-sm-4">Status</dt>
    <dd class="col-sm-8">@Model.Status</dd>
    <dt class="col-sm-4">Head</dt>
    <dd class="col-sm-8">@Model.DepartmentHead</dd>
    <dt class="col-sm-4">Email</dt>
    <dd class="col-sm-8">@Model.EmailAddress</dd>
    <dt class="col-sm-4">Phone</dt>
    <dd class="col-sm-8">@Model.PhoneNumber</dd>
    <dt class="col-sm-4">Extension</dt>
    <dd class="col-sm-8">@Model.ExtensionNumber</dd>
    <dt class="col-sm-4">Primary Function</dt>
    <dd class="col-sm-8">@Model.PrimaryFunction</dd>
    <dt class="col-sm-4">Linked Modules</dt>
    <dd class="col-sm-8">@Model.LinkedModules</dd>
    <dt class="col-sm-4">Approval Level</dt>
    <dd class="col-sm-8">@Model.ApprovalAuthorityLevel</dd>
</dl>

