@model ERPInventoryPurchesSystems.Models.Master.Item
@{
    ViewData["Title"] = "Item Details";
}
<h2>Item Details</h2>
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Item Code</dt>
            <dd class="col-sm-8">@Model.ItemCode</dd>
            <dt class="col-sm-4">Item Name</dt>
            <dd class="col-sm-8">@Model.ItemName</dd>
            <dt class="col-sm-4">Category</dt>
            <dd class="col-sm-8">@Model.Category?.CategoryName</dd>
            <dt class="col-sm-4">Vendor</dt>
            <dd class="col-sm-8">@Model.PreferredVendor?.VendorName</dd>
            <dt class="col-sm-4">UOM</dt>
            <dd class="col-sm-8">@Model.UOM</dd>
            <dt class="col-sm-4">Selling Price</dt>
            <dd class="col-sm-8">@Model.SellingPrice</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Description</dt>
            <dd class="col-sm-8">@Model.ItemDescription</dd>
            <dt class="col-sm-4">Item Type</dt>
            <dd class="col-sm-8">@Model.ItemType</dd>
            <dt class="col-sm-4">HSN/SAC Code</dt>
            <dd class="col-sm-8">@Model.HSNSACCode</dd>
            <dt class="col-sm-4">Brand</dt>
            <dd class="col-sm-8">@Model.Brand</dd>
            <dt class="col-sm-4">Model Specification</dt>
            <dd class="col-sm-8">@Model.ModelSpecification</dd>
        </dl>
    </div>
</div>