@model ERPInventoryPurchesSystems.Models.Master.Item

@{
    ViewData["Title"] = "Item Details";
}

<h2 class="mb-4">Item Details</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr><th>Item Code</th><td>@Model.ItemCode</td></tr>
                <tr><th>Item Name</th><td>@Model.ItemName</td></tr>
                <tr><th>Category</th><td>@Model.Category?.CategoryName</td></tr>
                <tr><th>Vendor</th><td>@Model.PreferredVendor?.VendorName</td></tr>
                <tr><th>UOM</th><td>@Model.UOM</td></tr>
                <tr><th>Selling Price</th><td>@Model.SellingPrice</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr><th>Description</th><td>@Model.ItemDescription</td></tr>
                <tr><th>Item Type</th><td>@Model.ItemType</td></tr>
                <tr><th>HSN/SAC Code</th><td>@Model.HSNSACCode</td></tr>
                <tr><th>Brand</th><td>@Model.Brand</td></tr>
                <tr><th>Model Specification</th><td>@Model.ModelSpecification</td></tr>
            </tbody>
        </table>
    </div>
</div>
